.pcoded-content figure,
.pcoded-content h2,
.card-body .card-text p:first-of-type {
    text-align: center;
}

.news-start {
    position: relative;
}

.tns-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: end;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.tns-controls button {
    background-color: transparent;
    border: 0px;
    color: rgb(63, 183, 63);
    padding: 0px;
    font-size: 25px;
}

.tns-controls button:first-of-type {
    margin-left: -12px;
}

.tns-controls button:nth-of-type(2) {
    margin-right: -12px;
}

#suggestions-box {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 41px;
}

#suggestions-box .list-group-item {
    cursor: pointer;
}

#suggestions-box .list-group-item:hover {
    background-color: #f8f9fa;
}

.news-title {
    color: #1169B3 !important;
}

.news-title:hover {
    color: #234a6a !important;
}

.news-img-div {
    position: relative;
}

.news-img-div span {
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    background-color: #015DAE;
    font-size: 12px;
    letter-spacing: 0.03em;
    line-height: 22px;
    padding: 0 8px;
    border-radius: 1px;
}

.ck-editor__editable {
    min-height: 200px;
    /* Set the minimum height */
}

.card {
    border-top: none !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    color: black !important;
}

.mark {
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(to right,
            rgba(255, 225, 0, 0.1),
            rgba(255, 225, 0, 0.7) 4%,
            rgba(255, 225, 0, 0.3));
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

#load-more {
    letter-spacing: 2px;
    border: 1px solid #015DAE;
    color: #015DAE;
    background-color: transparent;
}

#load-more:hover {
    background-color: #0870ca;
    color: white;
}

/* Remove focus border on click */
.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

/* Remove default Bootstrap dropdown arrow */
.dropdown-toggle::after {
    display: none !important;
}

/* Change text color to red on hover */
.custom-dropdown-btn:hover {
    color: rgb(220, 220, 220) !important;
}

/* Change dropdown text color to red on hover */
.dropdown-hover:hover {
    color: red !important;
}